@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

body {
  font-size: 18px;
  height: 100vh;
  /* display: grid;
  place-content: center; */
  background: #152938;
}

/* ! Container tela inicial ------------------------------- */
#container_tela_inicial {
  width: 327px;
  height: 386px;
  background: #fcfcfc;
  border-radius: 10px;
  margin: 165px auto 0 auto;
  position: relative;
  padding: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

h1 {
  position: absolute;
  transform: translate(-50%, -50%);
  top: -45px;
  left: 50%;
  color: #fcfcfc;
}

#container_tela_inicial h2 {
  font-size: 15px;
  font-weight: 700;
  color: #7191a5;
  font-style: normal;
  margin-bottom: 11px;
}

/* Container tema  */

#container_opcoes_temas {
  display: flex;
  column-gap: 11px;
}

.opcao_tema {
  width: 134px;
  height: 40px;
  display: grid;
  place-content: center;
  border-radius: 26px;
  padding: 10px 45.5px;
  background: #bcced9;
  color: #fcfcfc;
  font-weight: 700;
}

.opcao_tema.selecionado {
  background: #304859;
}

.opcao_tema:hover {
  cursor: pointer;
  background: #6395b8;
}

/* Container número de jogadores */

#container_numeroJogadores_opcoes {
  display: flex;
  column-gap: 10px;
}

.opcao_numero_jogadores {
  width: 62px;
  height: 40px;
  background: #bcced9;
  border-radius: 26px;
  display: grid;
  place-content: center;
  font-size: 16px;
  font-weight: 700;
  color: #fcfcfc;
}

.opcao_numero_jogadores:hover {
  cursor: pointer;
  background: #6395b8;
}

.opcao_numero_jogadores.selecionado {
  background: #304859;
}

/* Container tamanho do grid */

#container_opcao_tamanho {
  display: flex;
  column-gap: 11px;
}

.opcao_tamanho {
  width: 134px;
  height: 40px;
  background: #bcced9;
  border-radius: 26px;
  display: grid;
  place-content: center;
  font-weight: 700;
  color: #fcfcfc;
}

.opcao_tamanho:hover {
  cursor: pointer;
  background: #6395b8;
}

.opcao_tamanho.selecionado {
  background: #304859;
}

/* Botao começar jogo */

#botao_comecar {
  width: 279px;
  height: 48px;
  border-radius: 26px;
  background: #fda214;
  border: none;
  color: #fcfcfc;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  margin-top: 8px;
}

#botao_comecar:hover {
  background: #ffb84a;
}

/* ! CSS Página do jogo ------------------------------------------------- */

/* todo Estilizações iniciais ----  */

#container_definidor.pagina2 {
  width: 100%;
  height: 100%;
  background: #fcfcfc;
  padding: 24px;
  position: relative;
}

header {
  width: 327px;
  height: 40px;
  margin: 0 auto 80px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  width: 327px;
  height: 78px;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#botao_menu {
  background: #fda214;
  border-radius: 26px;
  padding: 10px 18.5px;
  font-size: 16px;
  font-weight: 700;
  color: #fcfcfc;
  border: none;
  position: relative;
}

/* todo Editando o Jogador ----------------------------- */
.box_jogador {
  height: 70px;
  width: 64px;
  background: #dfe7ec;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.box_jogador.ativo {
  background: #fda214;
  color: #fcfcfc;
}

.jogador_titulo {
  font-size: 15px;
  font-weight: 700;
  color: #7191a5;
}

.numero_pontos {
  font-size: 24px;
  font-weight: 700;
  color: #304859;
}

/* todo Editando os circulos -------------------------------------- */

#container_circulos_pai {
  width: 327px;
  height: 327px;
  margin: 0 auto 94px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.container_circulos {
  width: 72.53px;
  height: 72.53px;
  border-radius: 59px;
  display: grid;
  place-content: center;
  color: #fcfcfc;
  font-size: 40px;
  background: #bcced9;
  position: relative;
}

.container_circulos img {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 75%;
}

.container_circulos.selecionado {
  background: #fda214;
}

.container_circulos.errado {
  background: red;
}

.container_circulos::after {
  content: '';
  width: 100%;
  height: 100%;
  background: #304859;
  position: absolute;
  border-radius: 59px;
  opacity: 1;
}

.container_circulos.selecionado:after {
  opacity: 0;
}

.container_circulos.correto:after {
  opacity: 0;
}

.container_circulos:hover {
  cursor: pointer;
}

/* ! Modal main ---------------------------------------------- */
#modal_fim_de_jogo {
  height: 488px;
  width: 327px;
  padding: 32px 24px 24px 24px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 334px;
  border-radius: 10px;
  background-color: #f2f2f2;
  z-index: 2;
  display: none;
}

#tampa_tela {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.745);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
}

/* Container Com o texto do cabeçalho  */
#modal_header {
  text-align: center;
  margin: 0 auto 24px auto;
}

#quem_ganhou {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 9px;
  color: #152938;
}

#mensagem_resultado {
  color: #7191a5;
  font-size: 14px;
  font-weight: 700;
}

#modal_main {
  display: grid;
  row-gap: 8px;
}

/* Container com os placares  */
.container_vencedor {
  width: 279px;
  height: 48px;
  background: #dfe7ec;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  border-radius: 5px;
}

.output_numero_jogador {
  font-size: 13px;
  font-weight: 700;
  color: #7191a5;
}

.output_pontos_marcados {
  color: #304859;
  font-size: 20px;
  font-weight: 700;
}

/* Container com os botões */
#modal_footer {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

#modal_footer button {
  width: 279px;
  height: 48px;
  border-radius: 26px;
  font-size: 18px;
  font-weight: 700;
  border: none;
}

.botao_recomecar {
  background: #fda214;
  color: #fcfcfc;
  margin-bottom: 16px;
}

.botao_recomecar:hover {
  background: #ffb84a;
  cursor: pointer;
}

.botao_configurar_jogo {
  background: #dfe7ec;
  color: #304859;
}

.botao_configurar_jogo:hover {
  cursor: pointer;
  background: #c6cacd;
}
