@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

body {
  font-size: 18px;
  height: 100vh;
  display: grid;
  place-content: center;
}

.container {
  height: 667px;
  width: 375px;
  background: grey;
  padding: 24px;
  display: flex;
}

.cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 327px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 80px;
}

#container_bolas {
  width: 327px;
  height: 327px;
  margin-bottom: 94px;
  border-radius: 7px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

#container_jogadores {
  width: 327px;
  height: 78px;
  border: 1px solid white;
  border-radius: 7px;
}

button {
  background: #fda214;
  padding: 10px 18.5px;
  border-radius: 26px;
  border: none;
  font-weight: 700;
  color: #fcfcfc;
}

.box_bolas {
  width: 72.53px;
  height: 72.53px;
  border-radius: 59px;
  font-size: 40px;
  color: #fcfcfc;
  display: grid;
  place-content: center;
  position: relative;
}

.box_bolas.selecionado {
  background: #fda214;
}

.box_bolas.correto {
  background: green;
}

.box_bolas.errado {
  background: red;
}

.box_bolas:after {
  content: '';
  width: 100%;
  height: 100%;
  background: #304859;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 59px;
}

.box_bolas.selecionado:after {
  opacity: 0;
}

.box_bolas.correto:after {
  opacity: 0;
}
